.alert {
    width: 100%;
    text-align: center;
    /*margin-top: 10px;*/
}

.click-button {
    margin-bottom: 10px;
    margin-left: 10px;
}

.input-submit-container{
    display: flex;
    justify-content: center;
}

#input-field {
    height: fit-content;
    width: 70%;
}


@media (max-width: 768px) {
  .click-button {
    margin-left: 5px;
  }
}