.title{
    height: 200px;
    width: 100%;
    background-image: url('wordle_title.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 50px;
    text-align: center;
}